body {
	height: 1850px;
	background-image: url('../images/backguid.jpg');
	background-color: green;
	background-repeat: no-repeat;
	background-position: top center;
}
header,
footer,
body>div{
	outline: 1px dashed blue;	
}
header div,
header nav,
div.content div,
div.darkfloor div,
footer div.floor5 div{
	outline: 2px solid red;
}


/*styling header*/
header{
	min-height: 83px;
}
header div.container{
	margin: 0 auto;
	width: 990px;

}

/* styling slideshow*/
div.slideshow{
	min-height: 443px;
}

/*styling contnet*/
div.content{
	min-height: 918px;
	width: 996px;
	margin: 0 auto;
}
.content div.floor1{
	margin-top: 56px;
}
.content div.floor2{
	min-height: 310px;
}
.content div.floor2>div{
	min-height: inherit;
	width: 248px;
}
.content div.floor3{
	min-height: 443px;
}
.content div.floor3>div{
	min-height: inherit;
	width: 248px;
}



/*styling footer*/
div.darkfloor{
	min-height: 350px;
	width: 996px;
	margin: 0 auto;
}
.darkfloor div.floor4{
	min-height: 350px;
}
.darkfloor div.floor4>div{
	min-height: inherit;
	width: 246px;
}
.darkfloor div.floor4>div:nth-child(4){	
	margin-left: 738px;
	width: auto;
}



footer div.floor5{
	width: 996px;
	margin: 0 auto;
}

