body {
	height: 1850px;
	background-image: url('../images/backguid.jpg');
	
	background-repeat: no-repeat;
	background-position: top center;
}
header,
footer,
body>div{
	outline: 1px dashed blue;	
}
header div,
header nav,
div.content div,
div.darkfloor div,
footer div.floor5 div{
	outline: 2px solid red;
}


/*styling header*/
header{
	min-height: 83px;
}
header div.container{
	margin: 0 auto;
	width: 990px;
}
header div.logo a{
	display: block;
	width: 97px;
	height: 22px;
	margin-top: 27px;
	margin-left: 15px;
}
header menu.main{
	list-style-type: none;	
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 11px;
}
menu.main li{
	float: left;
	margin-right: 54px;
}
menu.main li:last-child{
	margin-right: 0;
}
menu.main li a{
	text-decoration: none;
	display: block;
	padding-top: 27px;
	padding-bottom: 35px;
	border-top: 3px solid white;
	color:#333;
	font-family: MuseoSlab500Regular, arial, helvetica, sans-serif;
	font-size: 14px;
}
menu.main li:hover a{
	border-top: 3px solid #A0CE4E;
	color: #A0CE4E;
}



/* styling slideshow*/
div.slideshow{
	min-height: 443px;
}

/*styling contnet*/
div.content{
	min-height: 918px;
	width: 996px;
	margin: 0 auto;
}
.content div.floor1{
	margin-top: 56px;
}
.content div.floor1 h2{
	font-size: 18px;
	font-weight: normal;
	color: #333;
	padding-left: 28px;
	padding-top: 6px;
	margin-bottom: 0;
}
.content div.floor1 p{
	font-size: 13px;
	margin-top: 9px;
	margin-left: 27px;
}
.content div.floor1>div:nth-child(1){
	width: 161px;
	height: 43px;
	margin-right: 32px;
	margin-top: 26px;
}
.content div.floor1>div:nth-child(2){
	margin-right: 200px;	
}
.content div.floor2{
	min-height: 310px;
}
.content div.floor2>div{
	min-height: inherit;
	width: 248px;
}
.content div.floor2>div>div{
	height: 40px;
	padding-left: 22px;
	margin-top: 78px;
}
.content div.floor2 h2{
	display: inline;
	font-size: 18px;
	padding-left: 10px;
}
.content div.floor2 i{	
	color: white;
	background-color: black;
	font-size: 30px;
	border-radius: 15px;
}
.content div.floor2 p{
	font-size: 13px;
	padding: 0 12px;
}
.content div.floor2 span{
	margin-top: 60px;
	margin-left: 149px;
	display: block;
	font-size: 13px;
}
.content div.floor3{
	min-height: 443px;
}
.content div.floor3>div{
	min-height: inherit;
	width: 248px;
}




/*styling footer*/
div.darkfloor{
	min-height: 350px;
	width: 996px;
	margin: 0 auto;
}
.darkfloor div.floor4{
	min-height: 350px;
}
.darkfloor div.floor4>div{
	min-height: inherit;
	width: 246px;
}
.darkfloor div.floor4>div:nth-child(4){	
	margin-left: 738px;
	width: auto;
}



footer div.floor5{
	width: 996px;
	margin: 0 auto;
}



